<footer class="site-footer">

  <div class="wrapper">

    <center>
        
		<p><a class="link" href="{{ site.baseurl }}/archive/">文章</a> /
		<a class="link" href="{{ site.baseurl }}/category/">类别</a> / 
		<a class="link" href="{{ site.baseurl }}/tags/">标签</a> / 
		<a class="link" href="{{ site.baseurl }}/about/">关于</a> /
		<a class="link" href="{{ site.baseurl }}/contact/">X</a>
        </p>

        <span><script>document.write(new Date().getFullYear());</script></span>
        <span>&copy;</span>
        
		<a class="link" href="{{ site.baseurl }}">{{ site.name }}</a>
		<br>
		<span>Theme &copy; <a class="link" href="http://weibo.com/fixxz" target="_blank"> 新浪微博</a> | Git : </span>
				<iframe
			style="margin-left: 2px; margin-bottom:-5px;"
			frameborder="0" scrolling="0" width="91px" height="20px"
			src="https://ghbtns.com/github-btn.html?user=zhuxu1&repo=zhuxu1.github.io&type=star&count=true" >
		</iframe>

    </center>
    
  </div>

</footer>
